.container
{
height: auto;
width: 100%;
border: 2px;
border-style: dashed;
margin:10px;
padding: 10px;
}


.dice{
    height: 100px;
    width: 100px;
    border: 2px;
    border-radius: 25%;
    border-style: double;
    border-color: black;
    text-align: center;
}